S3method(plot,riverplot)
export(colorRampAlpha)
export(colorRampPaletteAlpha)
export(curveseg)
export(default.style)
export(makeRiver)
export(riverplot)
export(riverplot.example)
export(updateRiverplotStyle)
